@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* header */
.img_logo {
    width: 10rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
}

.searsh {
    width: 18px;
}

.link-item {
    padding-right: 22px;
    text-decoration: auto;
    color: #2D2F30;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.5px;
}

/* Banner */
.col {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-3 {
    flex: 0 0 33.2%;
    max-width: 33.2%;
}

.section_banner {
    height: 700px;
    background-size: 100% 100%;
    margin-bottom: -16px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
}

.titre_banner {
    color: #094B72;
    font-size: 71px;
    margin-bottom: 0px;
}

.p_banner {
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #4F4F4F;
    width: 81%;
    margin-bottom: 40px;
}

.btn_banner {
    padding: 15px 42px;
    top: 630px;
    left: 165px;
    border-radius: 8px;
    background-color: #094B72;
    color: white;
    text-decoration: auto;
    border: none;
    font-family: Plus Jakarta Sans;
}

.text_banner{
    top: 825px;
    left: 166px;
    color: #8B8C8C;margin-top: 5em;
}

.img_back_banner {
    width: 33rem;
    position: absolute;
    top: 0;
    right: 0px;
}

.img_banner {
    width: 23rem;
    position: absolute;
    top: 43px;
    right: 76px;
}

.info_banner {
    position: absolute;
    bottom: -2px;
    left: 216px;
    background-color: white;
    padding: 20px 50px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}

.name_banner {
    color: #33475B;
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
}

.images_banner {
    margin-right: 2em;
    width: 82px;
    vertical-align: middle;
    margin-bottom: 3px;
}

/* Help */

.col_help {
    background-color: white;
    padding: 14px 19px;
    width: 34%;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1em;
    height: 238px;
    vertical-align: top;
}

.titre_help {
    font-family: Playfair Display;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #363940;
    height: 44px;
}

.p_help {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8B8C8C;
}

.info_help {
    font-family: Playfair Display;
    font-size: 43px;
    font-weight: 700;
    line-height: 64px;
}

.info_help_p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: #8B8C8C;
}

/*************************************************/
/* Count */

.h1_count {
    color:  #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 900;
    line-height: 10px;
    letter-spacing: 0.24px;
}

.p_count {
    color: #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 31px;
}

.count_num {
    color: #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 48px;
    margin: 0px;
}

.count_text {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
    letter-spacing: 0.054px;
}

/******************************************************************/
/* testimonial */

.titre_testimonial {
    color: #2D2F30;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.5px;
    
}

.div_review {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 32px;
}

.img_review {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 18px;
}

.nom_review {
    color: #151617;
    margin: -4px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
}

.p_review {
    color: #4F4F4F;
    font-family: Inter;
    font-size: 14px;
    line-height: 24px;
    margin: 1px -3px;
}

.review_p {
    color: #4F4F4F;
    font-size: 14px;
    line-height: 24px;
}

/* call */

.btn_call {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #094B72;
    color: white;
    padding: 10px 46px;
    padding: 2px 42px;
}

.btn_text_call {
    color: #F9F8F9;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.review_design {
    clip-path: polygon(100% 0, 0 0, 49% 70%);
    background-color: white;
    width: 2rem;
    height: 1rem;
    margin: 0 auto;
}

/************************************************/
/* footer */
.lien_footer {

    color: white;
    text-decoration: none;
    
}

.titre_footer {
    font-size: 20px;
    font-weight: 700;
}

.div_footer {
    background-image: url('../images/footer.png');
    display: flex;
    padding: 30px;
}

.div_bottom_footer {
    background-color: #004D7B;
    display: flex;
    align-items: center;
}

.icon_footer {
    width: 20px;
    height: 20px;
}

/***************************************/
/* page about */
.btn_about {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #094B72;
    color: white;
    padding: 11px 45px;
    width: 12rem;
}

/****************************************/
/* pagreview_designe contact */
.contact_section input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #ffffff;
    outline: none;
    color: #000000;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
/**************************************************************************/
header > div:first-of-type{
    width: 30%;
}
header > nav:first-of-type{
    width: 47%;
}
.nav-items{
    width: 84%;list-style-type: none;display: flex !important;
}
header nav div{
    width: 25%;
}

/*************/

.contenu_banner_col{
margin-left: 100px;
}
.section_banner .col > div:first-of-type div{
width: 64%;
}
.info_banner span{
color: #87898C;
}
/********************/
.section_complex_question{
background-color: #f8f8f8;display: flex;
}
.section_complex_question > div:first-of-type{
padding: 16% 0%;
}
.first_col{
width: 64%;margin-left: 14%;
}
/* .section_complex_question .col:nth-of-type(2){
padding-top: 9%;
} */
.section_complex_question > .col:nth-of-type(2) {
padding-top: 9%;
}
.icon_complex{
width: 2em;
}
/******************************/
.section_count{
text-align: center;
background-image: url('../images/BG.png');
}
.countainer_count{
padding-top: 30px;color: white;padding-bottom: 39px;
}
.row{
display: flex;
}
hr{
height: 80px;
}
/****************************/
.section_testimonial{
background-color: #f8f8f8;padding-top: 9px;margin-top: 7px;padding-bottom: 45px;
}
.container_testimonial{
display: flex;text-align: center;justify-content: space-around;
}
.contenu_reviews{
background-color: white;box-shadow: 3px 3px 20px 1px #0000005c;padding: 23px;
}
.div_review div{
text-align: left;
}
/************************/

.section_complex{
background-color: white;
}
.section_complex div{
padding-top: 20px;width: 45rem;margin-left: 8rem;
}
.section_complex div .titre_testimonial{
text-align: left !important;
}
/****************************/
footer{
margin-top: 45px;color: white;
}
.logo_footer{
width: 7rem;margin-left: 5rem;
}
.div_footer > .col:nth-of-type(2){
display: flex;
}
.list_menu_footer{
padding: 0px;
display: grid;
list-style-type: none
}
.div_bottom_footer > .col:first-of-type p{
padding-left: 7rem;
}
.list_icons_footer{
text-align: right;padding-right: 8rem;
}
footer .nav-item{
font-size: 15px;
margin-bottom: 10px;
}

/*************************************************/
.section_aboutus{
    display: flex;margin-top: 25px;
}
.section_aboutus > .col:nth-of-type(2){
    text-align: left;
}
.img_aboutus{
    width: 30rem;margin-left: 3rem;
}
.titre_aboutus{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Itim;
    font-size: 36px;
}
.p_aboutus{
    color: #000;
    font-size: 16px;
    width: 90%;
    line-height: 35px;
}
.titre_aboutus span{
    color: #094b72;
}
/****************************************************/
.btn_about{
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #094B72;
    color: white;
    padding: 11px 45px;
    width: 12rem;
}

    .input_contact{
     width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #ffffff;
    outline: none;
    color: #000000;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    }
    .select_contact{
        width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #ffffff;
    outline: none;
    color: #000000;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    }
    .section_contact h1{
        color: #000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Itim;
            font-size: 36px;text-align: center;
    }
    .section_contact h1 span{
        color: #094b72;
    }
    .container_contact{
        display: flex;justify-content: space-around;
    }
    .container_contact .col iframe{
        border-radius: 20px;
    }
    .form_contact div{
        margin-left: -95px;margin-top: 18px;
    }
    .form_contact select{
        width: 105%;
    }
    .form_contact textarea{
        width: 100%;
    }
/*************************************************************/
    /* services */

    .section_services {
        padding: 14px 0;
        text-align: center;
        background-color: #f9f9f9;
    }
    
    .we-offer-area .item {
    background: #ffffff;
      border: medium none;
      box-shadow: 0 0 10px #cccccc;
      overflow: hidden;
      position: relative;
      z-index: 1;
      text-align: center;
      padding: 67px 40px 64px;
    }
    .we-offer-area.text-center .item i {
      background: #094b72;
      border-radius: 50%;
      color: #ffffff;
      font-size: 40px;
      height: 84px;
      line-height: 80px;
      position: relative;
      text-align: center;
      width: 84px;
      z-index: 1;
      transition: all 0.35s ease-in-out;
      margin-bottom: 25px;
    }
    .we-offer-area .our-offer-items.less-carousel .equal-height {
      margin-bottom: 30px;
    }
    .we-offer-area .item h4 {
      font-weight: 600;
      text-transform: capitalize;
    }
    
    .we-offer-area .item p {
      margin: 0;
    }
    
    .we-offer-area .item::after {
      background: #094b72;
      content: "";
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      transition: all 0.35s ease-in-out;
      width: 100%;
      z-index: -1;
    }
    
    .we-offer-area .item:hover::after {
      left: 0;
    }
    
    .we-offer-area .item:hover i,
    .we-offer-area .item:hover h4,
    .we-offer-area .item:hover p {
      color: #ffffff !important;
    }
    .we-offer-area.text-center .item:hover i {
      background-color: #ffffff !important;
      color: #094b72 !important;
    }
    .col-services{
        flex: 0 0 31.2%;
    
    }
    .row_services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section_services .container{
        padding: 48px;
    }

    /**********************************************/
    @media only screen and (max-width: 600px) and (min-width: 320px)  {
        /* header */
        header{
            display: block;
        }
        header > nav:first-of-type {
            text-align: center;
            width: 100%;
        }
        header > div:first-of-type {
            width: 50%;
        }
        .nav-items{
            width: 83%;
            display: block !important;
        }
        header nav div{
            display: none;
        }
        header > div:first-of-type{
            margin: 0 auto;
        }
        nav{
            display: block !important;
            margin: 0 auto;
        }
        /* services */
        .col-services{
            flex: 0 0 100% !important;
        }
        
        /* about us */
        .section_aboutus {
            display: block;
            margin-top: 66px;
        }
        .img_aboutus {
            width: 17rem;
            margin-left: 3rem;
        }
        .section_aboutus > .col:nth-of-type(2) {
            text-align: left;
            padding-left: 20px;
        }
        /* contact */
        .container_contact {
            display: block;
        }
        .container_contact .col iframe{
            width: 100%;
        }
        .form_contact div {
            margin-left: 0px;
            margin-top: 50px;
        }
        .input_contact{
            width: 85% !important;
        }
        .form_contact select{
            width: 90%;
        }
        .form_contact textarea {
            width: 84%;
        }

        /* home */
        .contenu_banner_col {
            margin-left: 0px;
    padding: 0px 11px;
    text-align: center;
        }
        .p_banner{
            text-align: center;
    width: 100%;
        }
        .section_banner{
            display: block;
        }
        .titre_banner{
            font-size: 40px;
        }
        .section_banner .col > div:first-of-type div{
            width: 100%;
        }
        .section_complex_question {
            background-color: #f8f8f8;
            display: block;
            margin-top: 28rem;
        }
        .first_col {
            width: 95%;
            margin-left: 5%;
        }
        .col_help{
            width: 82%;
            margin: 0 auto;
            display: block;
            margin-bottom: 1rem;
        }
        .h1_count{
            font-size: 21px;
        }
        .p_count{
            font-size: 14px;
        }
        .row{
            display: block;
        }
        .container_testimonial{
            display: block;
        }
        .contenu_reviews{
            width: 86%;
            margin: 0 auto;
        }
        .div_review{
            margin-top: 15px;
            margin-bottom: 24px;
        }
        .titre_testimonial{
            font-size: 30px;
            margin-left: 3%;
        }
        .p_banner{
            font-size: 16px;
        }
        .section_complex div {
            width: 100%;
            margin-left: 0rem;
        }
        .btn_call{
            margin-left: 32%;
        }
        .info_banner{
            display: none;
        }
        .img_banner{
            width: 25rem;
            Z-INDEX: 2;
            right: 3%;
        }
        .img_back_banner{
            width: 100%;
            z-index: 1;
        }
        .col_banner{
            height: 700px;
        }

        /* footer */
        .div_footer{
            display: block;
        }
        .col{
            max-width: 100%;
        }
        .div_footer > .col:nth-of-type(2){
            display: block;
        }
        .col-3{
            max-width: 99.2%;
            text-align: center;
        }
        .list_menu_footer {
            padding: 0px;
            display: grid;
        }
        .div_bottom_footer {
            display: block;
            padding-top: 16px;
            align-items: center;
        }
        .div_bottom_footer > .col:first-of-type p {
            padding-left: 0rem;
            text-align: center;
        }
    }